<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>408910772025-99t1jiai7ct9ehuln9sb6tpequc644fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408910772025-99t1jiai7ct9ehuln9sb6tpequc644fq</string>
	<key>API_KEY</key>
	<string>AIzaSyAN2CJEdOaqk-43LQtBdZskoDwvOcaYjFk</string>
	<key>GCM_SENDER_ID</key>
	<string>408910772025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fura.furapp-ios</string>
	<key>PROJECT_ID</key>
	<string>furapp-f835b</string>
	<key>STORAGE_BUCKET</key>
	<string>furapp-f835b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408910772025:ios:d07612ad9a1ca926</string>
	<key>DATABASE_URL</key>
	<string>https://furapp-f835b.firebaseio.com</string>
</dict>
</plist>